name: Build Pressure

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Cache MSYS2
      uses: actions/cache@v4
      with:
        path: C:\msys64
        key: msys2-cache-${{ runner.os }}-${{ hashFiles('**/c-cpp.yml') }}
        restore-keys: |
          msys2-cache-${{ runner.os }}-

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: >-
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-make
          mingw-w64-x86_64-pkg-config
          mingw-w64-x86_64-SDL2
          mingw-w64-x86_64-SDL2_ttf
          mingw-w64-x86_64-imagemagick
          mingw-w64-x86_64-librsvg

    - name: Build Project
      shell: msys2 {0}
      run: |
        mingw32-make clean
        mingw32-make

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Pressure-Windows-Build
        path: |
          build/Pressure.exe
          font.ttf
