name: Build and Release

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: false
        install: >-
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-make
          mingw-w64-x86_64-pkg-config
          mingw-w64-x86_64-SDL2
          mingw-w64-x86_64-SDL2_ttf
          mingw-w64-x86_64-imagemagick
          mingw-w64-x86_64-librsvg

    - name: Build Project
      shell: msys2 {0}
      working-directory: src
      run: mingw32-make

    - name: Prepare Artifact
      shell: msys2 {0}
      run: |
        mkdir -p release
        cp build/Pressure-Win64.exe release/
        cp build/font.ttf release/
        cat LICENSE assets/defaultfont/LICENSE > release/LICENSE
        zip -rj Pressure-Win64.zip release/*

    - name: Upload Windows Build
      uses: actions/upload-artifact@v4
      with:
        name: Pressure-Win64
        path: Pressure-Win64.zip

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libsdl2-dev libsdl2-ttf-dev imagemagick

    - name: Build Project
      working-directory: src
      run: make

    - name: Prepare Artifact
      run: |
        mkdir -p release
        cp build/Pressure-Linux release/
        cp build/font.ttf release/
        cat LICENSE assets/defaultfont/LICENSE > release/LICENSE
        tar -czvf Pressure-Linux-Experimental.tar.gz -C release .

    - name: Upload Linux Build
      uses: actions/upload-artifact@v4
      with:
        name: Pressure-Linux
        path: Pressure-Linux-Experimental.tar.gz