name: Build Pressure (Windows)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: >-
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-make
          mingw-w64-x86_64-SDL2
          mingw-w64-x86_64-SDL2_ttf
          mingw-w64-x86_64-imagemagick
          mingw-w64-x86_64-librsvg

    - name: Build Project
      shell: msys2 {0}
      run: |
        make clean
        make

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Pressure-Exe
        path: build/Pressure.exe
